
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Chambre de Commerce registered company search app" content="">
    <meta name="Salomey Osei" content="">

  <title>Chambre de commerce</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/style.css">
  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">CHAMBRE DE COMMERCE</a>
      </div>
    </nav>
    <div class="container" style="margin-bottom:180px;margin-top:100px;">
    <div class="row">
      <div class="col-sm-3 col-md-3"></div>
        <div class="col-sm-6 col-md-6">
            <input type="hidden" id="userResetToken" value="<%= gettoken %>" >

            <h1 class="text-center login-title">Reset your password/Réinitialisez votre mot de passe</h1>

            <label>New password/Nouveau mot de passe</label>
            <input type="password" id="resetpwrd" class="form-control">
            <label>Re enter new password/Ré-entrez le nouveau mot de passe</label>
            <input type="password" id="re_enter_resetpwrd" class="form-control">
            <span id="resetpwrdErr" class="text-danger" style="float:right"></span><br>
            <button type="button" name="button" class="btn btn-primary" onclick="UserReset()">Submit/
Soumettre</button>

        </div>

    </div>
</div>


    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ccimma.cm 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://smtpjs.com/v2/smtp.js"></script>
<script type="text/javascript">
  function UserReset(){

    var npwrd= document.getElementById('resetpwrd').value;
    var rnpwrd= document.getElementById('re_enter_resetpwrd').value;
    var token = document.getElementById('userResetToken').value;

    var data = {token: token,npwrd:npwrd};

    if(npwrd.length < 1 || npwrd.length < 1 ){
      document.getElementById('resetpwrdErr').innerHTML = 'All fields are required';
    }
    else if(npwrd.length < 8 || npwrd.length < 8 ){
      document.getElementById('resetpwrdErr').innerHTML = 'password must be atleast 8 characters';
    }else if (npwrd != rnpwrd) {
      document.getElementById('resetpwrdErr').innerHTML = 'password do not match';
    }
    else{
  document.getElementById('resetpwrdErr').innerHTML = '';
  $.ajax({
    type        : 'post',
    data        : data,
    dataType    : 'json',
    url         : '/ccima.cm/staffroom/administrators/code100/recovery',
    success     : function(incoming){
      window.location = '/ccima.cm/staffroom/administrators/code100/?Q='+incoming.status;


    }

  });

  }
}

</script>
  </body>

</html>
